.custom-tab-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-tab {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.custom-tab:hover {
  background-color: #b000b9;
  color: #fff;
  border-radius: 3px;
}

.custom-tab:focus {
  outline: none;
}

.custom-tab.react-tabs__tab--selected {
  background-color: #b000b9;
  border-bottom: 4px solid #e84766;
  color: #fff;
}
